REACT_APP_FIREBASE_API_KEY=AIzaSyDrcHUiub5eS-my8tpLebue5QigmamS53s
REACT_APP_FIREBASE_AUTH_DOMAIN=studio-7584431652-afb80.firebaseapp.com
REACT_APP_FIREBASE_DATABASE_URL=https://studio-7584431652-afb80-default-rtdb.firebaseio.com
REACT_APP_FIREBASE_PROJECT_ID=studio-7584431652-afb80
REACT_APP_FIREBASE_STORAGE_BUCKET=studio-7584431652-afb80.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=787986433466
REACT_APP_FIREBASE_APP_ID=1:787986433466:web:d9efc6a695fb83068e8983
